<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/mvc
       http://www.springframework.org/schema/mvc/spring-mvc.xsd
">

<!--    新加的-->
    <mvc:default-servlet-handler/>
    <mvc:annotation-driven/>
<context:component-scan base-package="com.exam"/>
<!--<context:component-scan base-package="com.exam.dao"/>-->

<!--    扫描xx包下的注解-->

<context:property-placeholder location="classpath:db.properties"/>
<!--引入外部配置文件xx.properties-->


    <bean id="druid" class="com.alibaba.druid.pool.DruidDataSource">
        <property name="url" value="${hh.url}"/>
        <property name="driverClassName" value="${hh.driver}"/>
        <property name="username" value="${hh.username}"/>
        <property name="password" value="${hh.password}"/>
    </bean>

    <bean id="connectdrui" class="org.springframework.jdbc.core.JdbcTemplate">
        <property name="dataSource" ref="druid"/>
    </bean>

<!--    新加的-->
    <bean class="org.thymeleaf.spring5.templateresolver.SpringResourceTemplateResolver" id="templateResolver">
        <property name="prefix" value="/webapp/admin/"/>
        <property name="suffix" value=".html"/>
        <property name="characterEncoding" value="utf-8"/>
        <!--        是否设置缓存-->
        <property name="cacheable" value="false"/>
        <!--        模板的类型 -->
        <property name="templateMode" value="HTML5"/>
    </bean>
    <!--模板引擎-->
    <bean id="engine" class="org.thymeleaf.spring5.SpringTemplateEngine">
        <property name="templateResolver" ref="templateResolver"/>
    </bean>
    <!--    视图解析器-->
    <bean class="org.thymeleaf.spring5.view.ThymeleafViewResolver" id="resolver">
        <property name="templateEngine" ref="engine"/>
    </bean>
</beans>

