<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
            margin: 50px;
        }
        h1 {
            color: #007BFF;
        }
    </style>
</head>
<body>
<h1>请假管理系统欢迎你！！！！</h1>

<!--&lt;!&ndash; 使用 Thymeleaf 展示欢迎消息 &ndash;&gt;-->
<!--<div th:if="${user}" th:text="'欢迎你, ' + ${user.username} + '管理员!'"></div>-->
<!--<div th:if="${inst}" th:text="'欢迎你, ' + ${inst.username} + '辅导员!'"></div>-->
<!--<div th:if="${student}" th:text="'欢迎你, ' + ${student.username} + '同学!'"></div>-->

<!--&lt;!&ndash; 如果没有用户信息，显示未经授权消息 &ndash;&gt;-->
<!--<div th:unless="${user or inst or student}">-->
<!--    <p>Unauthorized access. Please log in.</p>-->
<!--</div>-->
</body>
</html>
